
# Ignore IDE and build system files
.vscode/
target/

# Ignore common temporary files
*.log
*.class
*.jar
*.war
*.iml
.idea/
.DS_Store
*.swp
*.swo
*.bak
*.tmp

# Ignore test files

## This is a main file to test random things i needed reminding on how they worked
Test.java
FailedMemAppender.java